<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Planetas en Start Wars</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Información</ion-title>
    <ion-title size small slot="end">{{fecha_actual | date: 'dd/MM/yyyy HH:mm'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="value">
      <ion-row>
<!--       <ion-list-header>
        <ion-label>Elija una opción</ion-label>
      </ion-list-header> -->
      <ion-col>
        <ion-item>
          <ion-label>Film</ion-label>
          <ion-radio slot="start" value="film" ></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>People</ion-label>
          <ion-radio slot="start" value="people"></ion-radio>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label>Planet</ion-label>
          <ion-radio slot="start" value="planet"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-radio-group>
  </ion-list>
</ion-item>

<!-- <p>Valor: {{ value }} </p> -->

<!--   <ion-item>
    <ion-label>Tipo de Documento</ion-label>
    <ion-checkbox [(ngModel)]="isdni" (ionChange)="updateestadodni()"></ion-checkbox>
  </ion-item> -->

  <div [ngSwitch]= "value">
    <div *ngSwitchCase = "'film'">
      <ion-searchbar placeholder="Search Film ..." [(ngModel)]="idfilm" (ionInput)="getFilmData($event.target.value)" animated="true"></ion-searchbar>
    </div>
    <div *ngSwitchCase = "'people'">
      <ion-searchbar placeholder="Search People ..." [(ngModel)]="idpeople" (ionInput)="getPeopleData($event.target.value)" animated="true"></ion-searchbar>
    </div>
    <div *ngSwitchDefault>  <ion-searchbar placeholder="Search Planet ..." [(ngModel)]="idplaneta" (ionInput)="getPlanetData($event.target.value)" animated="true"></ion-searchbar>
    </div>
  </div>
  

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" [value]="valorNombre"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Periodo Rotacional</ion-label>
      <ion-input formControlName="rotation_period" type="email" [value]="valorPeriodoRotacional"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Periodo Orbital</ion-label>
      <ion-input formControlName="orbital_period" [value]="valorPeriodoOrbital"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Diametro</ion-label>
      <ion-input maxlength="10" formControlName="diameter" type="text" [value]="valorDiametro"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </form> 
 </ion-content>
  
